
@{
    ViewData["Title"] = "Email";
}

<h1>Email</h1>

<html>
<head>
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px;">
        <b>abctutorial</b>
    </div>
    <div>
        <pre>
            Seja Bem Vindo ao nosso site de Gestão de Restaurantes,
                Só precisamos que faça a confimação do seu email para poder fazer login no nosso website!
                Clique <a href="@ViewBag.LinkConfirmacao">aqui.</a>
        </pre>
    </div>
</body>
</html>

