@{
    ViewData["Title"] = "Home Page";
}

<div id="title" class="text-center">
    <h2>Bem vindo a nossa página de Gestão de Restaurantes!</h2>
</div>
<br />
<br />
<div class="text-center">
    <img src="~/Imagens/restaurante.jpg" />
</div>
<br />
<br />
<div class="text-center">
    <h3><a asp-action="ListaRestaurantes" id="lista">Ver a Lista dos Restaurantes</a></h3>
</div>
</br>

