@model Projeto_Lab.Models.PratoDium


        <form asp-action="AlterarData" asp-route-id="@Model.IdPd"
              data-ajax="true"
                   data-ajax-method="post"
                   data-ajax-mode="replace"
                   data-ajax-update="#data_@Model.IdPd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label class="control-label">Nova Data:</label>
                <input type="date" name="date">
                <span asp-validation-for="DataPrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Atualizar" class="btn btn-success" />
            </div>
        </form>

